.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-logo-small {
  height: 5vmin;
}
.morning{
background-color:yellow;
}
.afternoon{
  background-color:orange;
}
.evening{
  background-color:blue;
}
.App-header {
  /* background-color: #282c34; */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message{
  color: white;
  margin: auto;
  text-align: center;
  height: 50px;
  width: 500px;
  background-color: red;
}
.alert {
  color: white;
  margin: auto;
  text-align: center;
  height: 50px;
  width: 500px;
  background-color: red;
}
.box0{
  color: white;
  margin: auto;
  text-align: center;
  border: 1px solid red;
  height: 50px;
  width: 500px;
  background-color: purple;
}
.box1{
  color: white;
  margin: auto;
  text-align: center;
  height: 50px;
  width: 500px;
  background-color: blue;
}
.box2 {
  color: white;
  margin: auto;
  text-align: center;
  height: 50px;
  width: 500px;
  background-color: gray;
}
.box3 {
  color: white;
  margin: auto;
  text-align: center;
  height: 50px;
  width: 500px;
  background-color: green;
}
